@using CourseByMosh.ViewModels
@model CustomerDetailsViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<br />
Membership type: @Model.MembershipType
@if (!string.IsNullOrWhiteSpace(Model.BirthDate))
{
    <br />
    @:Date of birth: @Model.BirthDate
}